<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-capable" content="yes" />

        <title>death.bike &mdash; Getötete Radfahrer im Jahr {{ year|default('2017') }}</title>

        <link rel="stylesheet" href="{{ asset('/bundles/calderadeathbike/css/death.css') }}" />
        <link rel="stylesheet" href="{{ asset('/bundles/calderadeathbike/css/leaflet/leaflet.css') }}" />
        <link rel="stylesheet" href="{{ asset('/bundles/calderadeathbike/css/extramarkers/extramarkers.min.css') }}" />
    </head>
    <body>
        <a class="hidden-sm-down" href="http://sqi.be/lhqsy">
            <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/52760788cde945287fbb584134c4cbc2bc36f904/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f77686974655f6666666666662e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png" />
        </a>

        <div class="container" style="min-height: 50vh;">
            <div class="row mt-2">
                <div class="col-6 offset-3">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('index') }}">
                                Karte
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('list') }}">
                                Liste
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('faq') }}">FAQ</a>
                        </li>
                    </ul>
                </div>
            </div>

            {% block content %}{% endblock %}

        {{ include('CalderaDeathBikeBundle:Includes:footer.html.twig') }}

        <script src="{{ asset('/bundles/calderadeathbike/js/jquery/jquery-3.1.1.min.js') }}"></script>
        <script src="{{ asset('/bundles/calderadeathbike/js/tether/tether.min.js') }}"></script>
        <script src="{{ asset('/bundles/calderadeathbike/js/bootstrap/bootstrap.min.js') }}"></script>
        <script src="{{ asset('/bundles/calderadeathbike/js/leaflet/leaflet.js') }}"></script>
        <script src="{{ asset('/bundles/calderadeathbike/js/leaflet/leaflet.sleep.js') }}"></script>
        <script src="{{ asset('/bundles/calderadeathbike/js/extramarkers/extramarkers.min.js') }}"></script>

        {% block scripts %}{% endblock %}

        {{ include('CalderaDeathBikeBundle:Includes:piwik.html.twig') }}
    </body>
</html>
