<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>death.bike &mdash; Getötete Radfahrer im Jahr {{ year }}</title>

        <link rel="stylesheet" href="{{ asset('/bundles/calderadeathbike/css/death.css') }}" />
    </head>
    <body>
        <div class="container">
            <div class="row mt-3">
                <div class="col-xs-12">
                    <h1 class="text-xs-center">
                        Getötete Radfahrer im Jahr {{ year }}
                    </h1>
                </div>
            </div>

            <div class="row mt-1">
                <div class="col-xs-12">
                    <div id="flipcounter">
                        <div id="flipbreak">

                        </div>
                        <div class="digit">
                            {{ counter[0:1] }}
                        </div>
                        <div class="digit">
                            {{ counter[1:1] }}
                        </div>
                        <div class="digit">
                            {{ counter[2:1] }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-xs-12 col-md-8 offset-md-2">
                    <ul class="list-unstyled">
                        {% for incident in incidentList %}
                        <a href="https://cycleways.info/{{ incident.slug }}">
                            <h3 class="text-xs-center">
                                {{ incident.title }}
                            </h3>
                        </a>

                        <p>
                            {{ incident.description }}
                        </p>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <script src="{{ asset('/bundles/calderadeathbike/js/jquery/jquery-3.1.1.min.js') }}"></script>
        <script src="{{ asset('/bundles/calderadeathbike/js/tether/tether.min.js') }}"></script>
        <script src="{{ asset('/bundles/calderadeathbike/js/bootstrap/bootstrap.min.js') }}"></script>

        {{ include('CalderaDeathBikeBundle:Includes:piwik.html.twig') }}
    </body>
</html>