{% extends 'AppBundle::layout.html.twig' %}

{% block title %}Tödlich verunglückte Radfahrer im Jahr {{ year }} &mdash; death.bike{% endblock %}

{% block content %}
<div class="row mt-3">
    <div class="col-12">
        <h1 class="text-center">
            Tödlich verunglückte Radfahrer im Jahr {{ year }}
        </h1>
    </div>
</div>

<div class="row mt-5">
    <div class="col-12 col-md-8 offset-md-2">
    {% for incident in pagination %}
        <div class="card mb-5">
            <div id="incident-{{ incident.id }}-map" class="incident-map card-img-top" data-latitude="{{ incident.latitude }}" data-longitude="{{ incident.longitude }}">

            </div>

            <div class="card-block">
                <a href="https://cycleways.info/{{ incident.slug }}">
                    <h4 class="card-title text-center">
                        {{ incident.title }}
                    </h4>
                </a>

                <p class="card-text">
                    {{ incident.description|nl2br }}
                </p>
            </div>

            <div class="card-footer text-muted text-center">
                {{ incident.dateTime|date('d.m.Y H:i', 'Europe/Berlin') }} Uhr
            </div>
        </div>
    {% endfor %}
    </div>
</div>

<div class="row mt-3 mb-3">
    <div class="col-12 text-center">
        {{ knp_pagination_render(pagination) }}
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script>
        var markerIcon = L.ExtraMarkers.icon({
            icon: 'fa-bicycle',
            markerColor: 'white',
            iconColor: 'black',
            shape: 'circle',
            prefix: 'fa'
        });

        $('.incident-map').each(function() {
            var elementId = $(this).attr('id');
            var latitude = $(this).data('latitude');
            var longitude = $(this).data('longitude');

            var map = L.map(elementId, { sleepNote: false, zoomControl: false });

            L.tileLayer('https://api.mapbox.com/styles/v1/maltehuebner/cixi2nrld00012rnwqorf4uxi/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFsdGVodWVibmVyIiwiYSI6IjB5c2QtNXcifQ.I7OHZr0wtAvqE0wIY_psfg', {
                attribution: '&copy; <a href="https://www.mapbox.com/about/maps/">Mapbox</a> &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> <strong><a href="https://www.mapbox.com/map-feedback/" target="_blank">Improve this map</a></strong>'
            }).addTo(map);

            map.setView([latitude, longitude], 10);

            L.marker([latitude, longitude], { icon: markerIcon }).addTo(map);
        });
    </script>
{% endblock %}
