{% extends 'AppBundle::layout.html.twig' %}

{% block title %}Tödlich verunglückte Radfahrer im Jahr {{ year }} &mdash; death.bike{% endblock %}

{% block content %}
    <div class="row mt-5">
        <div class="col-xs-12 col-sm-8 col-md-6 offset-sm-2 offset-md-3">
            <h3 class="text-center">
                Geschlecht
            </h3>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-xs-12 col-sm-8 col-md-6 offset-sm-2 offset-md-3">
            <table class="table">
                <thead>
                <tr>
                    <th>
                        Geschlecht
                    </th>
                    <th>
                        Anzahl
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        männlich
                    </td>
                    <td>
                        {{ statistic.sex.m }}
                    </td>
                </tr>
                <tr>
                    <td>
                        weiblich
                    </td>
                    <td>
                        {{ statistic.sex.f }}
                    </td>
                </tr>
                <tr>
                    <td>
                        keine Angabe
                    </td>
                    <td>
                        {{ statistic.sex.unknown }}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-xs-12 col-sm-8 col-md-6 offset-sm-2 offset-md-3">
            <h3 class="text-center">
                Altersgruppen
            </h3>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-xs-12 col-sm-8 col-md-6 offset-sm-2 offset-md-3">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Altersgruppe
                        </th>
                        <th>
                            Anzahl
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            0 bis 10 Jahre
                        </td>
                        <td>
                            {{ statistic.age.10 }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            11 bis 20 Jahre
                        </td>
                        <td>
                            {{ statistic.age.20 }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            21 bis 30 Jahre
                        </td>
                        <td>
                            {{ statistic.age.30 }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            31 bis 40 Jahre
                        </td>
                        <td>
                            {{ statistic.age.40 }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            41 bis 50 Jahre
                        </td>
                        <td>
                            {{ statistic.age.50 }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            51 bis 60 Jahre
                        </td>
                        <td>
                            {{ statistic.age.60 }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            61 bis 70 Jahre
                        </td>
                        <td>
                            {{ statistic.age.70 }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            71 bis 80 Jahre
                        </td>
                        <td>
                            {{ statistic.age.80 }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            81 bis 90 Jahre
                        </td>
                        <td>
                            {{ statistic.age.90 }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            91 bis 100 Jahre
                        </td>
                        <td>
                            {{ statistic.age.100 }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            unbekannt
                        </td>
                        <td>
                            {{ statistic.age.unkown }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-xs-12 col-sm-8 col-md-6 offset-sm-2 offset-md-3">
            <h3 class="text-center">
                Unfalltyp
            </h3>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-xs-12 col-sm-8 col-md-6 offset-sm-2 offset-md-3">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Unfalltyp
                        </th>
                        <th>
                            Anzahl
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Überquerung der Straße
                        </td>
                        <td>
                            {{ statistic.accidentType[constant('AppBundle\\Entity\\Incident::ACCIDENT_TYPE_CROSSING')] }}
                        </td>
                    </tr>

                    <tr>
                        <td>
                            Kollision am Bahnübergang
                        </td>
                        <td>
                            {{ statistic.accidentType[constant('AppBundle\\Entity\\Incident::ACCIDENT_TYPE_RAILROADCROSSING')] }}
                        </td>
                    </tr>

                    <tr>
                        <td>
                            Vorfahrtsverstoß
                        </td>
                        <td>
                            {{ statistic.accidentType[constant('AppBundle\\Entity\\Incident::ACCIDENT_TYPE_RIGHTOFWAY')] }}
                        </td>
                    </tr>

                    <tr>
                        <td>
                            Rotlichtverstoß
                        </td>
                        <td>
                            {{ statistic.accidentType[constant('AppBundle\\Entity\\Incident::ACCIDENT_TYPE_REDLIGHT')] }}
                        </td>
                    </tr>

                    <tr>
                        <td>
                            Rechtsabbiegeunfall
                        </td>
                        <td>
                            {{ statistic.accidentType[constant('AppBundle\\Entity\\Incident::ACCIDENT_TYPE_RIGHTTURN')] }}
                        </td>
                    </tr>

                    <tr>
                        <td>
                            Frontalzusammenstoß mit anderem Verkehrsteilnehmer
                        </td>
                        <td>
                            {{ statistic.accidentType[constant('AppBundle\\Entity\\Incident::ACCIDENT_TYPE_FRONTAL')] }}
                        </td>
                    </tr>

                    <tr>
                        <td>
                            Während Überholvorgang
                        </td>
                        <td>
                            {{ statistic.accidentType[constant('AppBundle\\Entity\\Incident::ACCIDENT_TYPE_OVERTAKE')] }}
                        </td>
                    </tr>

                    <tr>
                        <td>
                            Rammen
                        </td>
                        <td>
                            {{ statistic.accidentType[constant('AppBundle\\Entity\\Incident::ACCIDENT_TYPE_RAM')] }}
                        </td>
                    </tr>

                    <tr>
                        <td>
                            Einfahrt vom Grundstück in die Straße
                        </td>
                        <td>
                            {{ statistic.accidentType[constant('AppBundle\\Entity\\Incident::ACCIDENT_TYPE_PULLIN')] }}
                        </td>
                    </tr>

                    <tr>
                        <td>
                            geöffnete Autotür
                        </td>
                        <td>
                            {{ statistic.accidentType[constant('AppBundle\\Entity\\Incident::ACCIDENT_TYPE_DOORING')] }}
                        </td>
                    </tr>

                    <tr>
                        <td>
                            anderer Unfalltyp
                        </td>
                        <td>
                            {{ statistic.accidentType[constant('AppBundle\\Entity\\Incident::ACCIDENT_TYPE_OTHER')] }}
                        </td>
                    </tr>

                    <tr>
                        <td>
                            unbekannt
                        </td>
                        <td>
                            {{ statistic.accidentType[constant('AppBundle\\Entity\\Incident::ACCIDENT_TYPE_UNKNOWN')] }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-xs-12 col-sm-8 col-md-6 offset-sm-2 offset-md-3">
            <h3 class="text-center">
                Infrastruktur
            </h3>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-xs-12 col-sm-8 col-md-6 offset-sm-2 offset-md-3">
            <table class="table">
                <thead>
                <tr>
                    <th>
                        Infrastruktur
                    </th>
                    <th>
                        Anzahl
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        Fahrbahn
                    </td>
                    <td>
                        {{ statistic.infrastructure[constant('AppBundle\\Entity\\Incident::ACCIDENT_INFRASTRUCTURE_ROAD')] }}
                    </td>
                </tr>

                <tr>
                    <td>
                        Radweg
                    </td>
                    <td>
                        {{ statistic.infrastructure[constant('AppBundle\\Entity\\Incident::ACCIDENT_INFRASTRUCTURE_CYCLEPATH')] }}
                    </td>
                </tr>

                <tr>
                    <td>
                        Gehweg
                    </td>
                    <td>
                        {{ statistic.infrastructure[constant('AppBundle\\Entity\\Incident::ACCIDENT_INFRASTRUCTURE_SIDEWALK')] }}
                    </td>
                </tr>

                <tr>
                    <td>
                        freigegebener Gehweg
                    </td>
                    <td>
                        {{ statistic.infrastructure[constant('AppBundle\\Entity\\Incident::ACCIDENT_INFRASTRUCTURE_FREEDSIDEWALK')] }}
                    </td>
                </tr>

                <tr>
                    <td>
                        gemeinsamer Fuß- und Radweg
                    </td>
                    <td>
                        {{ statistic.infrastructure[constant('AppBundle\\Entity\\Incident::ACCIDENT_INFRASTRUCTURE_COMBINED')] }}
                    </td>
                </tr>

                <tr>
                    <td>
                        Radfahrstreifen
                    </td>
                    <td>
                        {{ statistic.infrastructure[constant('AppBundle\\Entity\\Incident::ACCIDENT_INFRASTRUCTURE_RADFAHRSTREIFEN')] }}
                    </td>
                </tr>

                <tr>
                    <td>
                        Schutzstreifen
                    </td>
                    <td>
                        {{ statistic.infrastructure[constant('AppBundle\\Entity\\Incident::ACCIDENT_INFRASTRUCTURE_SCHUTZSTREIFEN')] }}
                    </td>
                </tr>

                <tr>
                    <td>
                        Fahrradstraße
                    </td>
                    <td>
                        {{ statistic.infrastructure[constant('AppBundle\\Entity\\Incident::ACCIDENT_INFRASTRUCTURE_FAHRRADSTRASSE')] }}
                    </td>
                </tr>

                <tr>
                    <td>
                        andere / abseits der Straße
                    </td>
                    <td>
                        {{ statistic.infrastructure[constant('AppBundle\\Entity\\Incident::ACCIDENT_INFRASTRUCTURE_OTHER')] }}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-xs-12 col-sm-8 col-md-6 offset-sm-2 offset-md-3">
            <h3 class="text-center">
                Unfallgegner
            </h3>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-xs-12 col-sm-8 col-md-6 offset-sm-2 offset-md-3">
            <table class="table">
                <thead>
                <tr>
                    <th>
                        Unfallgegner
                    </th>
                    <th>
                        Anzahl
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        Fußgänger
                    </td>
                    <td>
                        {{ statistic.opponent[constant('AppBundle\\Entity\\Incident::ACCIDENT_OPPONENT_PEDESTRIAN')] }}
                    </td>
                </tr>

                <tr>
                    <td>
                        Radfahrer
                    </td>
                    <td>
                        {{ statistic.opponent[constant('AppBundle\\Entity\\Incident::ACCIDENT_OPPONENT_CYCLIST')] }}
                    </td>
                </tr>

                <tr>
                    <td>
                        Motorradfahrer
                    </td>
                    <td>
                        {{ statistic.opponent[constant('AppBundle\\Entity\\Incident::ACCIDENT_OPPONENT_MOTORCYCLE')] }}
                    </td>
                </tr>

                <tr>
                    <td>
                        Personenkraftwagen
                    </td>
                    <td>
                        {{ statistic.opponent[constant('AppBundle\\Entity\\Incident::ACCIDENT_OPPONENT_CAR')] }}
                    </td>
                </tr>

                <tr>
                    <td>
                        Lastkraftwagen
                    </td>
                    <td>
                        {{ statistic.opponent[constant('AppBundle\\Entity\\Incident::ACCIDENT_OPPONENT_TRUCK')] }}
                    </td>
                </tr>

                <tr>
                    <td>
                        landwirtschaftliches Fahrzeug
                    </td>
                    <td>
                        {{ statistic.opponent[constant('AppBundle\\Entity\\Incident::ACCIDENT_OPPONENT_TRACTOR')] }}
                    </td>
                </tr>

                <tr>
                    <td>
                        Eisenbahn
                    </td>
                    <td>
                        {{ statistic.opponent[constant('AppBundle\\Entity\\Incident::ACCIDENT_OPPONENT_TRAIN')] }}
                    </td>
                </tr>

                <tr>
                    <td>
                        Straßenbahn
                    </td>
                    <td>
                        {{ statistic.opponent[constant('AppBundle\\Entity\\Incident::ACCIDENT_OPPONENT_TRAM')] }}
                    </td>
                </tr>

                <tr>
                    <td>
                        Tier, Haustier
                    </td>
                    <td>
                        {{ statistic.opponent[constant('AppBundle\\Entity\\Incident::ACCIDENT_OPPONENT_ANIMAL')] }}
                    </td>
                </tr>

                <tr>
                    <td>
                        keiner / Alleinunfall
                    </td>
                    <td>
                        {{ statistic.opponent[constant('AppBundle\\Entity\\Incident::ACCIDENT_OPPONENT_NONE')] }}
                    </td>
                </tr>

                <tr>
                    <td>
                        unbekannt
                    </td>
                    <td>
                        {{ statistic.opponent[constant('AppBundle\\Entity\\Incident::ACCIDENT_OPPONENT_UNKNOWN')] }}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-xs-12 col-sm-8 col-md-6 offset-sm-2 offset-md-3">
            <h3 class="text-center">
                Pedelec
            </h3>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-xs-12 col-sm-8 col-md-6 offset-sm-2 offset-md-3">
            <table class="table">
                <thead>
                <tr>
                    <th>
                        Pedelec
                    </th>
                    <th>
                        Anzahl
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        ja
                    </td>
                    <td>
                        {{ statistic.pedelec[true] }}
                    </td>
                </tr>

                <tr>
                    <td>
                        nein
                    </td>
                    <td>
                        {{ statistic.pedelec[false] }}
                    </td>
                </tr>

                <tr>
                    <td>
                        unbekannt
                    </td>
                    <td>
                        {{ statistic.pedelec[null] }}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-xs-12 col-sm-8 col-md-6 offset-sm-2 offset-md-3">
            <h3 class="text-center">
                Sturzhelm
            </h3>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-xs-12 col-sm-8 col-md-6 offset-sm-2 offset-md-3">
            <table class="table">
                <thead>
                <tr>
                    <th>
                        Sturzhelm
                    </th>
                    <th>
                        Anzahl
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        ja
                    </td>
                    <td>
                        {{ statistic.helmet[true] }}
                    </td>
                </tr>

                <tr>
                    <td>
                        nein
                    </td>
                    <td>
                        {{ statistic.helmet[false] }}
                    </td>
                </tr>

                <tr>
                    <td>
                        unbekannt
                    </td>
                    <td>
                        {{ statistic.helmet[null] }}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}


{#

    const ACCIDENT_OPPONENT_PEDESTRIAN = 'pedestrian';
    const ACCIDENT_OPPONENT_CYCLIST = 'cyclist';
    const ACCIDENT_OPPONENT_MOTORCYCLE = 'motorcycle';
    const ACCIDENT_OPPONENT_CAR = 'car';
    const ACCIDENT_OPPONENT_TRUCK = 'truck';
    const ACCIDENT_OPPONENT_TRACTOR = 'tractor';
    const ACCIDENT_OPPONENT_TRAIN = 'train';
    const ACCIDENT_OPPONENT_TRAM = 'tram';
    const ACCIDENT_OPPONENT_ANIMAL = 'animal';
    const ACCIDENT_OPPONENT_NONE = 'none';
    const ACCIDENT_OPPONENT_UNKNOWN = 'unknown';

    #}
