{% extends 'AppBundle::layout.html.twig' %}

{% block title %}Tödlich verunglückte Radfahrer im Jahr {{ year }} &mdash; death.bike{% endblock %}

{% block content %}
    <div class="row mt-5">
        <div class="col-xs-12 col-sm-8 col-md-6 offset-sm-2 offset-md-3">
            <h3 class="text-center">
                Geschlecht
            </h3>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-xs-12 col-sm-8 col-md-6 offset-sm-2 offset-md-3">
            <table class="table">
                <thead>
                <tr>
                    <th>
                        Geschlecht
                    </th>
                    <th>
                        Anzahl
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        männlich
                    </td>
                    <td>
                        {{ statistic.sex.m }}
                    </td>
                </tr>
                <tr>
                    <td>
                        weiblich
                    </td>
                    <td>
                        {{ statistic.sex.f }}
                    </td>
                </tr>
                <tr>
                    <td>
                        keine Angabe
                    </td>
                    <td>
                        {{ statistic.sex.unknown }}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-xs-12 col-sm-8 col-md-6 offset-sm-2 offset-md-3">
            <h3 class="text-center">
                Altersgruppen
            </h3>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-xs-12 col-sm-8 col-md-6 offset-sm-2 offset-md-3">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Altersgruppe
                        </th>
                        <th>
                            Anzahl
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            0 bis 10 Jahre
                        </td>
                        <td>
                            {{ statistic.age.10 }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            11 bis 20 Jahre
                        </td>
                        <td>
                            {{ statistic.age.20 }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            21 bis 30 Jahre
                        </td>
                        <td>
                            {{ statistic.age.30 }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            31 bis 40 Jahre
                        </td>
                        <td>
                            {{ statistic.age.40 }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            41 bis 50 Jahre
                        </td>
                        <td>
                            {{ statistic.age.50 }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            51 bis 60 Jahre
                        </td>
                        <td>
                            {{ statistic.age.60 }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            61 bis 70 Jahre
                        </td>
                        <td>
                            {{ statistic.age.70 }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            71 bis 80 Jahre
                        </td>
                        <td>
                            {{ statistic.age.80 }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            81 bis 90 Jahre
                        </td>
                        <td>
                            {{ statistic.age.90 }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            91 bis 100 Jahre
                        </td>
                        <td>
                            {{ statistic.age.100 }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            unbekannt
                        </td>
                        <td>
                            {{ statistic.age.unkown }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-xs-12 col-sm-8 col-md-6 offset-sm-2 offset-md-3">
            <h3 class="text-center">
                Unfalltyp
            </h3>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-xs-12 col-sm-8 col-md-6 offset-sm-2 offset-md-3">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Unfalltyp
                        </th>
                        <th>
                            Anzahl
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Überquerung der Straße
                        </td>
                        <td>
                            {{ statistic.accidentType[constant('AppBundle\\Entity\\Incident::ACCIDENT_TYPE_CROSSING')] }}
                        </td>
                    </tr>

                    <tr>
                        <td>
                            Kollision am Bahnübergang
                        </td>
                        <td>
                            {{ statistic.accidentType[constant('AppBundle\\Entity\\Incident::ACCIDENT_TYPE_RAILROADCROSSING')] }}
                        </td>
                    </tr>

                    <tr>
                        <td>
                            Vorfahrtsverstoß
                        </td>
                        <td>
                            {{ statistic.accidentType[constant('AppBundle\\Entity\\Incident::ACCIDENT_TYPE_RIGHTOFWAY')] }}
                        </td>
                    </tr>

                    <tr>
                        <td>
                            Rotlichtverstoß
                        </td>
                        <td>
                            {{ statistic.accidentType[constant('AppBundle\\Entity\\Incident::ACCIDENT_TYPE_REDLIGHT')] }}
                        </td>
                    </tr>

                    <tr>
                        <td>
                            Rechtsabbiegeunfall
                        </td>
                        <td>
                            {{ statistic.accidentType[constant('AppBundle\\Entity\\Incident::ACCIDENT_TYPE_RIGHTTURN')] }}
                        </td>
                    </tr>

                    <tr>
                        <td>
                            Frontalzusammenstoß mit anderem Verkehrsteilnehmer
                        </td>
                        <td>
                            {{ statistic.accidentType[constant('AppBundle\\Entity\\Incident::ACCIDENT_TYPE_FRONTAL')] }}
                        </td>
                    </tr>

                    <tr>
                        <td>
                            Während Überholvorgang
                        </td>
                        <td>
                            {{ statistic.accidentType[constant('AppBundle\\Entity\\Incident::ACCIDENT_TYPE_OVERTAKE')] }}
                        </td>
                    </tr>

                    <tr>
                        <td>
                            Rammen
                        </td>
                        <td>
                            {{ statistic.accidentType[constant('AppBundle\\Entity\\Incident::ACCIDENT_TYPE_RAM')] }}
                        </td>
                    </tr>

                    <tr>
                        <td>
                            Einfahrt vom Grundstück in die Straße
                        </td>
                        <td>
                            {{ statistic.accidentType[constant('AppBundle\\Entity\\Incident::ACCIDENT_TYPE_PULLIN')] }}
                        </td>
                    </tr>

                    <tr>
                        <td>
                            geöffnete Autotür
                        </td>
                        <td>
                            {{ statistic.accidentType[constant('AppBundle\\Entity\\Incident::ACCIDENT_TYPE_DOORING')] }}
                        </td>
                    </tr>

                    <tr>
                        <td>
                            anderer Unfalltyp
                        </td>
                        <td>
                            {{ statistic.accidentType[constant('AppBundle\\Entity\\Incident::ACCIDENT_TYPE_OTHER')] }}
                        </td>
                    </tr>

                    <tr>
                        <td>
                            unbekannt
                        </td>
                        <td>
                            {{ statistic.accidentType[constant('AppBundle\\Entity\\Incident::ACCIDENT_TYPE_UNKNOWN')] }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}